fastapi
uvicorn
python-multipart
pydantic
python-dotenv
torch
torchaudio
speechbrain
chromadb
numpy
transformers
accelerate
sentencepiece
librosa
httpx
requests
langdetect
groq
sqlalchemy
psycopg2-binary
